<form novalidate ng-submit="addBook()">
    <div class="modal-header">
        <h3 class="modal-title">Add New Book</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" ng-model="formData.name">
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author" ng-model="formData.author">
        </div>
        <div class="form-group">
            <label for="isbn">ISBN</label>
            <input type="text" class="form-control" id="isbn" ng-model="formData.isbn">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" ng-model="formData.price">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Add Book</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>
